.Card {
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.title,
.price {
    color: #494949;
    font-weight: 600;
}

.Card img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .Card {
        width: 42vw;
    }
}