.main {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
    font-size: 18px;
    row-gap: 20px;
    color: #595959;
    margin-top: 80px;
}

footer .heading {
    color: #595959;
    font-weight: 700;
}

footer .Links,
footer .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #595959;
    text-decoration: none;
}

footer .Links a {
    color: #595959;
    font-weight: 400;
    text-decoration: none;
}

.copyright {
    text-align: center;
    font-size: 20px;
    color: #595959;
    font-weight: 600;
    padding: 50px;
}

footer hr {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .main {
        margin-top: 20px;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        gap: 10px;
        font-size: 16px;
    }

    .heading {
        display: none;
    }

    footer .Links,
    footer .contacts {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .copyright{
        font-size: 16px;
        padding: 20px;
    }
}